body {
    font-family: 'Poppins';
    background-color: #212529;
    margin: 5px 0;
    border-radius: 10px;
    color: #dee2e6;
}

body.dark-theme {
    background-color: #0076ec; /* Cor de fundo do tema escuro */
    color: #fff; /*Cor do texto do tema escuro */
}

.bolinhas {
    width: 40px;
    margin: 1% 2%;
}

.faixa {
    background-color: #343A40;
    border-radius: 10px 10px 0px 0px;
}

header a {
    color: #fff;
    display: inline-block;
    margin-top: 1rem;
}

header a:hover {
    color: #ffc107;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.container {
    max-width: 1400px;
}

section {
    background-color: #454d55;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card {
    margin-left: 10px;
    border: none;
    transition: box-shadow 0.3s;
    background-color: #343a40;
    color: #dee2e6;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.594);
}

.card .card-img {
    height: 100%;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #212529;
    color: #fff;
    padding: 10px 0;
}

.card .btn {
    margin-top: 0.5rem;
}

.btn-neon {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
}

.btn-neon:hover {
    background-color: #009dff;
    box-shadow: 0 0 25px rgba(0, 123, 255, 1);
}

.btn-login-neon {
    color: #fff;
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.8);
}

.btn-login-neon:hover {
    background-color: #2cc951;
    box-shadow: 0 0 25px rgba(40, 167, 69, 1);
}

.list-group-item:hover {
    background-color: #e4e4e4;
    color: #000000;
}

.list-group-item {
    color: #343a40;
}

.social-logo {
    max-width: 40px;
    height: auto;
    margin-right: 10px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}