{% extends 'base.html' %}

{% block conteudo %}

{% load static %}

    <section class="my-element mx-5 mt-5 mb-4">
        <!-- Posts -->
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{% static post.img_url %}" class="card-img" alt="Thumbnail">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="card-title">{{post.titulo}}</h2>

                                    <p class="card-text">{{post.resumo}}</p>

                                    <p class="text-secondary mb-0">Autor: {{post.autor}}</p>

                                    <p class="text-secondary">Publicado em: {{post.publicado_em}}</p>

                                    <a href={{post.slug}} class="btn btn-primary">Leia mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Seção de Feedbacks -->
    <div class="mt-4 container container-sm mb-4">
        <h3>Feedbacks</h3>

        <!-- Formulário de Feedback -->
        <form action="">
            <div class="form-floating text-dark mb-2">
                <textarea class="form-control" placeholder="Deixe seu Feedback!" id="floatingTextarea2" style="height: 100px" required></textarea>
                <label for="floatingTextarea2">Deixe seu Feedback!</label>
            </div>
            <button type="submit" class="btn btn-neon">Enviar</button>
        </form>

        <!-- Lista de Feedbacks -->
        <div class="mt-4">
            <h4>Feedbacks Anteriores:</h4>
            <ul class="list-group">
                <li class="list-group-item">Feedback 1 - Nome do Usuário</li>
                <li class="list-group-item">Feedback 2 - Nome do Usuário</li>
                <li class="list-group-item">Feedback 3 - Nome do Usuário</li>
            </ul>
        </div>
    </div>

    <!-- Botão Voltar ao topo -->
    <div class="mt-4 mb-4">
        <div class="container">
            <a class="text-light" href="#"><button type="submit" class="btn btn-login-neon btn-block">Voltar ao topo</button></a>
        </div>
    </div>

{% endblock %}

