{% extends "base.html" %}

{% block conteudo %}

{% load static %}

<!-- Botão de Voltar -->
<div class="d-flex justify-content-center align-items-center mt-3">
    <a href="/" class="btn btn-secondary">Voltar</a>
</div>

<!-- Conteúdo da Página de Detalhes do Post -->
<section class="container mt-4">
    <div class="col-md-8 p-4">
        <h1 class="card-title mt-4 mb-5">{{post.titulo}}</h1>

        <img class="card-img-top mb-5" src="{% static post.img_url %}" class="card-img" alt="Thumbnail">

        <p class="card-text">{{post.conteudo}}</p>

        <p class="text-secondary mb-0">Autor: {{post.autor}}</p>

        <p class="text-secondary">Publicado em: {{post.publicado_em}}</p>
    </div>
</section>

<!-- Seção de Comentários -->
<div class="mt-4 container container-sm mb-4">
    <h3>Comentários</h3>

    <!-- Formulário de Comentário -->
    <form method="post" action=".">
        {% csrf_token %}
        <div class="form-floating text-dark mb-2">
            <textarea class="form-control" placeholder="Deixe seu comentário sobre o post!" name="conteudo" id="conteudo" style="height: 100px" required></textarea>
            <label for="conteudo">Deixe seu comentário sobre o post!</label>
        </div>
        <div class="form-row">
            <div class="form-floating col-md-6 mb-3 text-dark">
                <input type="name" class="form-control" name="nome" id="nome" placeholder="Nome" required>
                <label for="name">Nome</label>
            </div>
    
            <div class="form-floating col-md-6 mb-3 text-dark">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
        </div>
        <button type="submit" class="btn btn-neon">Enviar</button>
    </form>

    <!-- Lista de Comentários -->
    <div class="mt-4">
        <h4>Comentários Anteriores:</h4>
        <ul class="list-group">
            {% for comentario in post.comentarios.all %}
                <li class="list-group-item py-3">{{comentario.conteudo}} - {{comentario.nome}}</li>

            {% empty %}
                <p class="list-group-item py-3">Nenhum comentário ainda</p>
            {% endfor %}
        </ul>
    </div>
</div>
</div>

<!-- Botão Voltar ao topo -->
<div class="mt-4 mb-4">
    <div class="container">
        <a class="text-light" href="#topo"><button type="submit" class="btn btn-login-neon btn-block">Voltar ao topo</button></a>
    </div>
</div>

{% endblock conteudo %}