{% extends "base.html" %}
{% load static %}

{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}
<!-- Botão de Voltar -->
<div class="d-flex justify-content-center align-items-center">
    <a href="/" class="btn btn-secondary">Voltar</a>
</div>

<!-- Conteúdo da Página de Login -->
<section class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Fazer login em HelloBlog</h2>

                    <!-- Formulário de Login -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3 text-dark">
                            <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                            <label for="email">Email</label>
                        </div> 

                        <div class="form-floating mb-3 text-dark">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                            <label for="password">Senha</label>
                        </div>

                        {% if incorrect_login %}
                            <p class="text-danger">Email ou senha incorreto(s)!</p>
                        {% endif %}

                        <button type="submit" class="btn btn-login-neon btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}